<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <h1>
        hello profile
    </h1>
    <% if(locals.user){ %>
        <form action="/post/create" method="POST">
            <textarea name="newpost" cols="20" rows="3" placeholder="type here ...." required></textarea>
            <br>
            <input type="submit" value="Post">
        </form>
        <% } %>

            <% for(post of post_list) {%>

                <p>
                    <h1>
                        <%= post.content %>
                    </h1>
                    <h3>
                        <%= post.user.name %>
                    </h3>
                </p>
                <%} %>
</body>

</html>