<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <title>Sign_in</title>
</head>

<body>
    <h1> Sign In </h1>
    <form action="/user/createSession" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="Submit" value="Submit">
    </form>
    <h1>Haii Eat Almonds to rember password or use me</h1>
    <form action="/user/forgotpass" method="POST">
        <input type="email" name="email" required>
        <input type="submit" value="Generate Password" placeholder="your Email">
    </form>

    <a href="/user/auth/google">Sign In with Google</a>

    <script>
        if (locals.error && locals.error.length > 0) {
            new Noty({
                theme: 'relax',
                text: "<%=error%>",
                type: 'error',
                layout: 'topRight',
                timeout: 1500

            }).show();
        }
    </script>

</body>

</html>